<!DOCTYPE html>
<html>
  <head>
    <title> Dessert Picker </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>  
  <body id="homepage"> 
  <h1> Dessert Time </h1>
  
  <form action="/pick-recipe" method="get">
  <input type="submit" name="flavour" value="Choose your dessert" class="btn btn-primary">
  </form>
  </body>
</html> 
  