<!DOCTYPE html>
<html>
  <head>
    <title>What Dessert Should You Make? </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  
  <body>
   <div id="header">
    <h1>What Dessert Should You Make?</h1>
    </div>
    
<div id="flav">
  <h2><p> Would you like a sweet or salty dessert? </p></h2>
<form action="/" method="post">
  <input type="radio" name="flavour" value="Sweet">Sweet
  <br>
  <input type="radio" name="flavour" value="Salty">Salty
  </div>
  
<div id="time">
  <h2><p> How long would you like to spend on making the dessert? </p></h2>
  <input type="radio" name="time" value="10-20">10-20 min
  <br>
  <input type="radio" name="time" value="21-30">21-30 min
  <br>
  <input type="radio" name="time" value="31+">31+ min 
</div>

  
 <div id="dish">
  <h2><p> Would you like the dessert to be a hot or cold dish? </p></h2>
   <input type="radio" name="dish" value="hot">Hot
  <br>
  <input type="radio" name="dish" value="cold">Cold
  <br>
  </div>
  <br>
  <input type="submit">
</form>
    
  </body>
  
</html>