<!DOCTYPE html>
<html>
  <head>
    <title>What Dessert Should You Make? </title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body>
    <h3> Click on the picture for your recipe! </h2>
    <%@desserts.each do |dessert|%> 
    <div class="dessert"> <a target= _blank href="<%=dessert[:link]%>"><img src="<%=dessert[:image]%>" width="550" height="450" /></a> <p> <%=dessert[:name]%> </p> </div>
    <%end%> 
  </body>
</html>
