body {
  background-color: #99CCFF;
  font: verdana;
}

#header{
  font-size: 25px;
  color: #FFFFFF
}

#flav{
  font-size: 17px;
  color: #FF6699
}

#time{
  font-size: 17px;
  color: #FF6699
}

#dish{
  font-size: 17px;
  color: #FF6699
}